<li key="{{_id}}" class="bookmarks__item grid">
  <a href="{{url}}" class="bookmarks__link">
    <h3 class="bookmarks__title">{{title}}</h3>
  </a>
  <p class="bookmarks__descr">{{description}}</p>
  <div class="bookmarks__image">
    <img src="{{image}}" alt="{{title}}">
  </div>
  <button type="submit"
          class="bookmarks__button"
          value="{{id}}"
          >
    <svg viewBox="-8 -8 50 50">
      <path  d="M6 32h20l2-22h-24zM20 4v-4h-8v4h-10v6l2-2h24l2 2v-6h-10zM18 4h-4v-2h4v2z"></path>
    </svg>
  </button>
</li>
